mixin input({type = 'text', label = false, name = '', rows = 10})
  div.flex.flex-col&attributes(attributes)
    if label
      label= label

    if type === 'textarea'
      textarea.w-full.max-w-full.bg-gray-700.border.border-gray-600.p-1.rounded(name=name rows=rows class="focus:border-green-500 focus:outline-none focus:bg-gray-600")
    else
      input.bg-gray-700.border.border-gray-600.p-1.rounded(type=`${type}` name=name class="focus:border-green-500 focus:outline-none focus:bg-gray-600")
