mixin input({type = 'text', label = false, name = '', rows = 10, required = false})
  div.flex.flex-col.items-start&attributes(attributes)
    if label
      label.text-sm.uppercase= label

    .mt-1.w-full
      if type === 'textarea'
        textarea.input-field(name=name rows=rows required=required)
      else
        input.input-field(type=`${type}` name=name required=required)
