mixin input({type = 'text', label = false, name = '', rows = 10, required = false, id})
  div.flex.flex-col.items-start&attributes(attributes)
    if label
      label.text-sm.uppercase(for=id)= label
        if required
          span.ml-1.text-red-500 *

    .mt-1.w-full
      if type === 'textarea'
        textarea.input-field(name=name rows=rows required=required id=id)
      else
        input.input-field(type=`${type}` name=name required=required id=id)
